body 
{ background: #121212; 
  color: white; 
  font-family: 'Poppins', sans-serif; 
  text-align: center; 
  margin: 0; }


.contact { padding: 60px 20px; background: #1f1f1f; }
.contact h2 { font-size: 2.2rem; color: #fff; margin-bottom: 30px; }
