body {
  background: #121212;
  color: white;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  margin: 0;
}

h1 {
  font-size: 2.5rem;
  margin-top: 40px;
  color: #045600;
}

.contact {
  padding: 60px 20px;
  background: #1f1f1f;
}

.contact h2 {
  font-size: 2.2rem;
  color: #fff;
  margin-bottom: 30px;
}

.contact-info {
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 800px;
  margin: 0 auto;
}

.contact-method {
  background: #2a2a2a;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
  transition: transform 0.3s, box-shadow 0.3s;
}


.contact-method h2 {
  margin-bottom: 10px;
  font-size: 1.5rem;
  color: #045600;
}

.contact-method a,
.contact-method p {
  font-size: 1rem;
  color: #ccc;
  text-decoration: none;
}


@media (min-width: 600px) {
  .contact-info {
    flex-direction: column;
    justify-content: space-between;
  }

  .contact-method {
    flex: 1;
    margin: 0 10px;
  }
}
