footer {
    background-color: #222;
    color: #ccc;
    padding: 30px 20px;
    text-align: center;
  }
  
  .container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 15px;
    border-bottom: #222;
  }
  
  .social-icons a {
    color: white;
    background-color: #333;
    padding: 15px;
    border-radius: 50%;
    text-decoration: none;
    font-size: 18px;
    transition: background-color 0.3s, transform 0.3s;
  }
  
  .social-icons a:hover {
    transform: scale(1.1);
  }
  
  .linkedin:hover { background-color: #0077b5; }
  .instagram:hover{background-color: palevioletred;}
  .facebook:hover { background-color: #3b5998; }
  
  .footer-text {
    font-size: 14px;
    color: #aaa;
  }